<br />
<br />
<div role="navigation" class="col-sm-8 col-sm-offset-2">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="hoverable">@Html.ActionLink("Newest", "AllTweets", "Home")</li>
        <li role="presentation" class="hoverable">@Html.ActionLink("By followed users", "TweetsByFollowedUsers", "Home")</li>
        <li role="presentation" class="hoverable">@Html.ActionLink("My Profile", "UserProfile", "Home")</li>
    </ul>
</div>
<div class="divider-new"><h5 class="text-center title ">John Sulivan's Profile</h5></div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
            <div class="card-panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <div class="card-image">
                                <div class="view overlay hm-white-slight">
                                    <img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-1.jpg" class="img-responsive z-depth-">
                                    <div class="mask waves-effect"></div>
                                </div>
                            </div>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <h2 class="title">John Sulivan</h2>
                            <p><strong>About: </strong>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</p>
                            <p><strong>Date of birth: </strong>13.05.1988.</p>
                        </div>
                        <!--/col-->
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> 12,5K </strong></h2>
                            <p><small>Followers</small></p>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>340</strong></h2>
                            <p><small>Following</small></p>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>67</strong></h2>
                            <p><small>Tweets</small></p>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-xs-offset-1 col-sm-8 col-sm-offset-4">
                            <button class="btn btn-default waves-effect waves-light"><span class="fa fa-heart"></span>  Follow </button>
                        </div>
                        <!--/col-->
                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->