<h2>TweetsByFollowedUsers</h2>

<ul class="nav nav-tabs nav-justified">
    <li>@Html.ActionLink("Newest", "AllTweets", "Home")</li>
    <li class="active">@Html.ActionLink("By followed users", "TweetsByFollowedUsers", "Home")</li>
    <li>@Html.ActionLink("UserProfile", "UserProfile", "Home")</li>
</ul>